@{
    ViewData["Title"] = "Bienvenido a BankCore";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/index.css" />
    <style>
        body {
            font-family: 'Roboto', sans-serif;
        }
    </style>
</head>
<body>
    <header class="text-center bg-success text-white py-5">
        <h1 class="display-4">Bienvenido a BankCore</h1>
        <p class="lead">Su confianza es nuestra prioridad.</p>
    </header>

    <main class="container mt-5">
        <div class="text-center">
            <img src="https://econoticiasfai.org/wp-content/uploads/2020/03/banco-mundial.jpg" class="img-fluid mb-4" alt="Banco" />
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS5u2avf6FFERVAesCq76LkK0fE_RC-SN3BHw&s" class="img-fluid mb-4" alt="Servicios Financieros" />
        </div>
        
        <p class="text-center">
            Ofrecemos una amplia gama de servicios bancarios, incluyendo la creación de cuentas bancarias, préstamos personales y comerciales, tarjetas de crédito y débito, así como asesoramiento financiero. 
        </p>
        <p class="text-center">
            Aprenda más sobre cómo podemos ayudarle a alcanzar sus metas financieras. 
        </p>
        <p class="text-center">
            Si tiene preguntas, no dude en <a href="mailto:contact@ourbank.com" class="text-primary">contactarnos</a>.
        </p>
        <br><br><br><br>
    </main>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
