<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Política de Privacidad</title>

    <link rel="stylesheet" href="~/css/privacidad.css" asp-append-version="true" />
    <!-- Estilos de iconos-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
    <!-- Fuente de Letra-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="section_privacidad">
        <div class="contenedor_privacidad">
            <h1 class="privacidad_text">Políticas de Privacidad</h1>
            <p class="privacidad_text">En BackCore, nos comprometemos a proteger tu privacidad y la seguridad de tu información personal. Esta política de privacidad describe cómo recopilamos, usamos y compartimos tu información cuando visitas o realizas una transacción a través de nuestro sitio web.</p>
            
            <h2>Información que Recopilamos</h2>
            <p><strong>Información Personal:</strong> Cuando realizas una transacción o intentas realizar una transacción a través de nuestro sitio, recopilamos cierta información, como tu nombre, dirección de envío, dirección de facturación, información de pago (incluidos los números de tarjetas de crédito), dirección de correo electrónico y número de teléfono.</p>
            <p><strong>Información de Navegación:</strong> También recopilamos automáticamente información sobre tu dispositivo, incluyendo tu dirección IP, tipo de navegador, proveedor de servicios de internet, páginas de referencia/salida, y datos sobre tu actividad en el sitio, como las páginas que visitas y el tiempo que pasas en ellas.</p>
            <p><strong>Cookies:</strong> Utilizamos cookies y otras tecnologías similares para mejorar tu experiencia de navegación, recordar tus preferencias y analizar el tráfico del sitio.</p>
    
            <h2>Cómo Usamos tu Información</h2>
            <p><strong>Procesamiento de Transacciones:</strong> Utilizamos la información que recopilamos para procesar y completar tus transacciones, incluyendo la gestión de pagos, envíos, y devoluciones.</p>
            <p><strong>Comunicación:</strong> Podemos utilizar tu información personal para contactarte con actualizaciones sobre tu transacción, promociones, y otras noticias relacionadas con BackCore que puedan ser de tu interés.</p>
            <p><strong>Personalización:</strong> Utilizamos la información de navegación para personalizar tu experiencia en nuestro sitio web, recomendándote productos y servicios que puedan interesarte y recordando tus preferencias.</p>
            <p><strong>Mejora del Sitio:</strong> Analizamos los datos de uso del sitio para mejorar nuestro servicio, identificar problemas técnicos y optimizar la experiencia del usuario.</p>
    
            <h2>Compartición de Información</h2>
            <p><strong>Proveedores de Servicios:</strong> Compartimos tu información personal con terceros que nos ayudan a procesar transacciones, gestionar pagos, realizar envíos y proporcionar soporte al cliente. Estos proveedores solo tienen acceso a la información necesaria para llevar a cabo sus funciones y están obligados a proteger tu privacidad.</p>
            <p><strong>Publicidad:</strong> Podemos compartir información sobre tu actividad en el sitio con nuestros socios publicitarios para mostrarte anuncios personalizados en otras plataformas.</p>
            <p><strong>Cumplimiento Legal:</strong> También podemos compartir tu información si es requerido por la ley o si creemos que es necesario para proteger nuestros derechos o cumplir con una investigación legal.</p>
    
            <h2>Seguridad de la Información</h2>
            <p>Nos tomamos muy en serio la seguridad de tu información personal. Implementamos medidas de seguridad técnicas y organizativas para proteger tus datos contra el acceso no autorizado, la divulgación, alteración o destrucción.</p>
    
            <h2>Tus Derechos</h2>
            <p><strong>Acceso y Corrección:</strong> Tienes derecho a acceder a la información personal que tenemos sobre ti y a solicitar que se corrija, actualice o elimine.</p>
            <p><strong>Opt-Out:</strong> Puedes optar por no recibir nuestras comunicaciones promocionales en cualquier momento haciendo clic en el enlace de "darse de baja" en cualquier correo electrónico que te enviemos o contactándonos directamente.</p>
            <p><strong>Eliminación de Datos:</strong> Si deseas que eliminemos tu información personal de nuestros registros, contáctanos y haremos todo lo posible para cumplir con tu solicitud, sujeto a las obligaciones legales que podamos tener.</p>
    
            <h2>Enlaces a Terceros</h2>
            <p>Nuestro sitio web puede contener enlaces a otros sitios web operados por terceros. No somos responsables de las prácticas de privacidad de estos sitios y te recomendamos leer sus políticas de privacidad antes de proporcionarles tu información.</p>
    
            <h2>Cambios a esta Política de Privacidad</h2>
            <p>BackCore se reserva el derecho de actualizar esta política de privacidad en cualquier momento. Cualquier cambio será publicado en esta página, y, si es significativo, te notificaremos por correo electrónico o a través de un aviso en nuestra página de inicio.</p>
    
            <h2>Contacto</h2>
            <p>Si tienes alguna pregunta sobre esta política de privacidad o sobre cómo manejamos tu información personal, no dudes en contactarnos a través de <strong>support@backcore.com</strong></p>
        </div>
    </div>
</body>
</html>
